@import url("https://namekujilsds.github.io/css/Kartoon.css");


/* Your edit below */
:root {
    --menuIcoW: auto;
    --menuIcoH: 50px;
    --accent-color: #ffd85f;
    --accent-color-2: #fe9804;
    --pink: #ff8ee4;
    --black: #101010;
    --white: #fffed3;
    --red: #eb5656;
    --green: #50ff50;
}

/* CC BY-SA-NC 4.0 */
