header {
  background: #718eff;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
*::selection {
  background-color: rgba(0, 255, 255, 0.389);
}
*:focus {
  outline: unset;
}

select {
  appearance: none;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  border: 1px solid #0003;
  color: rgb(74, 74, 74);
}
option {
  appearance: none;
  font-size: 30px;
  background: black;
  color: white;
  height: 200px;
}

.box {
  display: grid;
  grid-template-areas: 'a b c' 'd e f';
  width: fit-content;
  justify-items: center;
  padding: 10px;
  margin: 10px;
  border: #0002 2px solid;
}
.select-t1 {
  grid-area: a;
}
.vs {
  grid-area: b;
  text-align: center;
  font-weight: bolder;
  color: #666;
}
.select-t2 {
  grid-area: c;
}
.t1Num {
  grid-area: d;
}
.negative {
  grid-area: e;
  font-weight: bold;
}
.t2Num {
  grid-area: f;
}

input[type='number'] {
  width: 40px;
  appearance: none;
  font-size: 30px;
  border: unset;
  border-bottom: 2px solid black;
  text-align: center;
  background-color: #0001;
  color: #444;
}
#content {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  margin-left: 10px;
  margin-top: 10px;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

h2 {
  margin: unset;
  text-align: center;
}
#tit {
  margin-left: 15px;
}

table {
  font-size: 30px;
  border-collapse: collapse; /* セルの境界線を重ねる */
  width: auto; /* 幅を自動調整 */
  margin: 0 auto; /* 中央揃え */
}

th,
td {
  border: 1px solid #ddd; /* セルの境界線 */
  padding: 8px; /* セルの余白 */
  text-align: left; /* セル内テキストの配置 */
  text-align: center;
}

th {
  background-color: #eee; /* ヘッダーセルの背景色 */
  font-weight: bold; /* ヘッダーセルの太字 */
}
#genRank {
  appearance: unset;
  border: unset;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: hsl(168, 100%, 84%);
  margin-top: 10px;
  border: hsl(168, 73%, 78%) 2px solid;
}

/* === ソートボタンを表示するエリア ============== */
.tsImgArea {
  line-height: 1;
}
/* === ソートボタン ============================== */
.tsImg {
  display: inline-block;
  width: 8px;
  height: 6px;
  background: #eee;
  border: 1px solid #777;
  margin: 1px 3px;
  padding: 3px;
  cursor: pointer;
}
/* === ソートボタン（カーソルオーバー時）========= */
.tsImg:hover {
  background: #ffd700;
}
/* === ソートボタン内の三角の色（SVG）============ */
.tsImg path {
  fill: #777;
}
