@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    width: 100%;
    color: white;
}

body {
    background-color: #333;
}

::selection {
    background-color: #00ffb393;
    padding: 2px;
    text-shadow: 0 0 4px black;
}

header {
    background: #3f4491;
    height: 3em;
    display: flex;
    color: white;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

#title {
    margin-left: 15px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.icon {
    height: 1.5em;
    margin-right: 0.4em;
    transition: .2s;
    transform: translateZ(0deg)
}

.icon:hover {
    transition: .2s;
    animation: kurukuru 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55)
}

@keyframes kurukuru {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

#menu {
    display: flex;
    margin-right: 20px;
}

.tit {
    font-size: 30px;
}

#topImg {
    width: 100%;
}

#box {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-top: 50px;
}

.line {
    height: 2px;
    background: #fff2;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 4px rgb(124, 255, 255);
}

.vline {
    width: 2px;
    background: #fff2;
    margin-left: 4px;
    margin-right: 4px;
}

#downloadBtn {
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2225;
    font-size: 20px;
    margin: auto;
}

#downloadBtn:hover {
    box-shadow: 0 0 10px white;
}

#downloadManualBtn {
    border: 1px solid #fff2;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2225;
    font-size: 20px;
    margin: auto;
}

#downloadManualBtn:hover {
    box-shadow: 0 0 10px #fff3;
}

#card {
    width: 90%;
    background: #fff2;
    border-radius: 10px;
    border-top: 10px solid;
    height: auto;
    box-shadow: 5px 5px 5px #0005;
    margin: 20px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cardTitle {
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 2px #fff2 solid;
    padding-bottom: 10px;
}

.cardDisc {
    font-size: 20px;
    line-height: 26px;
}

#cardHolder {
    width: 100%;
    display: grid;
    grid-template-areas: "six" "manual" "one" "two" "three" "four" "five";
}

@media screen and (min-width:1000px) {
    #cardHolder {
        margin-right: auto;
        margin-left: auto;
        width: 1000px;
        display: grid;
        grid-template-areas: "one six" "one two" "three two" "three four" "five four" "five manual";
    }

    #card {
        width: 400px;
        height: auto;
    }

    .manual {
        display: unset !important;
    }
}

.manual {
    grid-area: manual;
    border-color: aquamarine;
    /* display: none; */
}

.one {
    border-color: purple !important;
    grid-area: one;
}

.two {
    border-color: lime !important;
    grid-area: two;
}

.three {
    border-color: cyan !important;
    grid-area: three;
}

.four {
    border-color: orangered !important;
    grid-area: four;
}

.five {
    border-color: pink !important;
    grid-area: five;
}

.six {
    border-color: mediumspringgreen;
    grid-area: six;
}

#myIcon {
    height: 64px;
}