@font-face {
    font-family: val;
    src: url(./font/Valorant.woff2);
}

*,
* * {
    transition: .2s;
}

html {
    margin: unset;
}

body {
    font-family: val;
    margin: unset;
    background: #252525;
}

h1 {
    color: white;
    left: 50%;
    position: fixed;
    transform: translate(-50%);
}

#banPool {
    display: flex;
    justify-items: center;
    align-items: center;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0%);
}

#mapBan {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 180px;
    margin-left: 5px;
    margin-right: 5px;
}

#mapBan img {
    height: 100px;
    width: 180px;
}

#mapBan #ban {
    height: 80px;
    width: 80px;
    margin-top: -70px;
}

#mapBan h2 {
    color: white;
    margin: unset;
    align-items: center;
    margin-top: -50px;
    transform: translate(-0, -15px);
    font-size: 30px;
}

.banned .mapImg {
    filter: grayscale(1);
    outline: unset;
}

.hidden {
    display: none;
}

.map {
    display: none;
}

.mapImg {
    z-index: -1;
    outline: 2px solid yellow;
}

#roll {
    left: 50%;
    position: fixed;
    bottom: 200px;
    font-size: 30px;
    font-family: val;
    border: unset;
    background: transparent;
    color: white;
    text-shadow: 2px 2px gray;
    transform: translate(-50%, -50%);
}

#roll:hover {
    transform: translate(-50%, -50%) scale(1.1);
    text-shadow: 2px 2px rgb(255, 123, 255);
}

#pickedMapImg {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: solid 5px white;
    width: 915px;
    height: 515px;
}

#mapName {
    color: black;
    text-shadow: 2px 2px gray;
    left: 50%;
    top: 40%;
    transform: translate(calc(-50% - 450px), calc(-50% - 200px));
    position: fixed;
    font-size: 35px;
    background-color: white;
    padding: 10px;
    box-shadow: 4px 4px rgb(255, 177, 242);
}

#team1 {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(calc(-50% + 450px), calc(-50% + 100px));
    font-size: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba(225, 255, 180, .5);
    color: black;
    text-shadow: 2px 2px white;
}

#teamN {
    font-size: 20px;
}

.t1N {
    background-color: rgb(225, 255, 180);
    width: 100%;
}

#team2 {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(calc(-50% + 450px), calc(-50% + 200px));
    font-size: 25px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 180, 180, 0.5);
    color: black;
    text-shadow: 2px 2px white;
}

.t2N {
    background-color: rgb(255, 180, 180);
    width: 100%;
}