@font-face {
  font-family: material-icons;
  src        : url(https://fonts.gstatic.com/s/materialicons/v59/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
}

.material-icons {
  font-family: material-icons;
}

* {
  color      : white;
  font-family: 'Kosugi Maru', sans-serif;
}

body {
  background-color: black;
}

.title {
  display    : block;
  color      : white;
  text-align : center;
  left       : 45%;
  margin-top : 20px;
  font-size  : 40px;
  text-shadow: 0 0 4px white;
}

.abtme {
  color     : white;
  text-align: center;
  font-size : 25px;
}


/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top    : 50px;
  padding-bottom: 40px;
  box-shadow    : 0 0 10px rgb(0, 0, 0);
  width         : 100%;
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
}

/*タブのスタイル*/
.tab_item {
  width          : calc(100%/4);
  height         : 50px;
  border-bottom  : 2px white solid;
  height         : 50px;
  font-size      : 20px;
  text-align     : center;
  color          : #ffffff;
  display        : flex;
  font-weight    : bold;
  transition     : all 0.2s ease;
  justify-content: center;
  align-content  : center;
  align-items    : center;
}

.tab_item>#tab_cnt {
  color      : white;
  text-shadow: 0 0 2px black;
  transition : all 0.2s ease;
}

#tab_cnt {
  margin-left: 10px;
}

.tab_item:hover>#tab_cnt {
  color      : black;
  text-shadow: 0 0 2px black;
  transition : all 0.2s ease;
}

.tab_item:hover {
  transition : all 0.2s ease;
  background : white;
  color      : black;
  text-shadow: 0 0 2px black;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display : none;
  padding : 40px 40px 0;
  clear   : both;
  overflow: hidden;
}



/*選択されているタブのコンテンツのみを表示*/
#CSS-C:checked~#CSS,
#MOD-C:checked~#MOD,
#SKIN-C:checked~#SKIN,
#SOCIAL-C:checked~#SOCIAL {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked+.tab_item {
  background-color: #000000;
  color           : #fff;
}

.tabs input:checked+.tab_item:hover {
  background : white;
  color      : black;
  text-shadow: 0 0 2px black;
}

/*リストの中のスタイルを指定する*/
.c-hd {
  font-size     : 40px;
  text-shadow   : 0 0 5px white;
  border-bottom : 1px solid white;
  padding-bottom: 15px;
  margin-bottom : 20px;
}

.tab_content {
  width: 100%;
}

#cssN,
#modN,
#skinN {
  font-size     : 30px;
  padding-bottom: 10px;
}

.cimg {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
}

.image:hover {
  width     : 45%;
  cursor    : pointer;
  transition: .3s;
  height    : auto;


}

.image {
  transition    : .3s;
  display       : flex;
  flex-direction: row;
  width         : 40%;
  height        : auto;
  margin-left   : auto;
  margin-right  : auto;
  margin-bottom : 20px;
  margin-top    : 20px;
  box-shadow    : -5px -5px rgb(255, 184, 234), 5px -5px rgb(255, 184, 234), 5px 5px rgb(255, 184, 234), -5px 5px rgb(255, 184, 234), 0 0 10px rgb(255, 184, 234), 0 0 10px rgb(255, 184, 234), 0 0 10px rgb(255, 184, 234);
}

.sdt {
  color     : rgb(224, 67, 255);
  width     : 100%;
  font-size : 18px;
  transition: .3s;
}

.sdt:hover {
  font-size : 16px;
  transition: .3s;

}

#scnt {
  cursor        : pointer;
  display       : flex;
  width         : 100%;
  flex-direction: row;
  flex-wrap     : wrap;
}


#DL {
  cursor       : pointer;
  border       : double 3px white;
  width        : fit-content;
  padding      : 5px;
  font-size    : 25px;
  margin-bottom: 15px;
  transition   : .3s;
}

#DL:hover {
  transition: .3s;
  transform : scale(.95);
}

#DL:after {
  content    : "download";
  font-family: material-icons;
  font-size  : 20px;
}


#spacer {
  margin-top   : 20px;
  margin-bottom: 20px;
  height       : 0px;
  border-bottom: 2px white dotted;
}

.wd:after {
  content    : "pets";
  font-family: material-icons;
}

.laf:after {
  content    : "account_balance";
  font-family: material-icons;
}

.MTZ {
  color: #ff4600;
}

.MTZ:after {
  content    : "upcoming";
  font-family: material-icons;
}

.laf {
  color: #ffccff;
}

.CC {
  color: lightblue;
}

.CC:after {
  content    : "favorite";
  font-family: material-icons;
}

.social-cnt {
  transition : .2s;
  background : black;
  color      : white;
  text-shadow: 0 0 2px white;
}

.social-cnt {
  border       : solid white 1px;
  padding      : 15px;
  font-size    : 30px;
  margin-bottom: 20px;
  margin-left  : auto;
  margin-right : auto;
}

.social-cnt:hover {
  background : white;
  transition : .2s;
  color      : black;
  text-shadow: 0 0 2px black;
}

.social-cnt:hover>#soi {
  color      : black;
  text-shadow: 0 0 2px black;
}

.disc {
  margin-top  : 10px;
  line-height : 22px;
  font-size   : 16px;
  width       : 60%;
  text-align  : center;
  margin-left : auto;
  margin-right: auto;
}

.pf::after {
  content    : "account_box";
  font-family: material-icons;
}

.tw::after {
  content    : "history_edu";
  font-family: material-icons;
}

.yt::after {
  content    : "play_circle_filled";
  font-family: material-icons;
}

.dc::after {
  content    : "dns";
  font-family: material-icons;
}

.simg {
  cursor      : pointer;
  display     : flex;
  margin-left : auto;
  margin-right: auto;
  width       : 80%;
  transition  : .3s;

}

.simg:hover {
  margin-left : auto;
  margin-right: auto;
  width       : 90%;
  transition  : .3s;
}
