body{
    background:#333;
    color:white;
    margin: unset;
    padding: unset;
}

a{
    color:rgb(0, 255, 128)
}
*::selection{
    background-color: rgba(89, 0, 255, 0.288);
}
header{
    background:#afb0ff;
    height:60px;
}
#title{
    font-size:30px;
    align-self: center;
}