:root {
  --accent-color:#ffaadb ;
  --accent-color-2:#a0739f;
  --accent-color-3:#a0739f;
  --bg-color    : #202020;
  --black:black;
  --nav-color   : #404040;
}

/* 基本設定ここから */

@font-face {
  font-family: "JP-Font";
  src        : url(https://namekujilsds.github.io/font/SourceHanSansJP-Heavy.otf);
}

* {
  font-family: "JP-Font";
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}
::-webkit-scrollbar{
  display:none !important;
}
body {
  height    : 100vh;
  background: var(--bg-color);
}

/* 基本設定ここまで */

/* コンテンツの設定ここから */
#content {
  width    : 900px;
  height   : calc(100vh - 100px);
  overflow : scroll;
  left     : 50%;
  padding  : 10px;
  position : fixed;
  transform: translate(-50%);
}

.box {
  background   : #fff2;
  width        : calc(100% - 15px);
  padding      : 20px;
  line-height  : 150%;
  color        : white;
  font-weight  : lighter;
  box-shadow   : 5px 5px var(--accent-color);
  margin-bottom: 20px;
  margin-top   : 10px;
}
.box p{
text-shadow:0 0 0 var(--black),1px 0 0 var(--black),-1px 0 var(--black),0 -1px var(--black),0 1px var(--black),1px 1px var(--black),1px -1px var(--black),-1px 1px var(--black),-1px -1px var(--black),0 2px var(--black),0 -2px var(--black),2px 0 var(--black),-2px 0  var(--black),1px 2px var(--black),-1px 2px var(--black),1px -2px var(--black),-1px -2px var(--black),2px 2px var(--black),-2px 2px var(--black),2px -2px var(--black),-2px -2px var(--black),0 0 2px var(--black),0 0 2px var(--black),0 0 2px var(--black) ;
}
.box a {
  color          : white;
  text-decoration: unset;
}

h1 {
  color      : var(--accent-color);
  font-size  : 40px;
  text-shadow: 0 0 10px var(--accent-color);
  line-height: 50px;
}

h2 {
  color      : var(--accent-color);
  font-size  : 25px;
  line-height: 35px;
}

iframe {
  border: unset !important;
  width : 100%;
  height: 100%;
}

.space {
  height: 30px;
}

.box img {
  width       : 80%;
  margin-left : 10%;
  margin-right: 10%;
}

/* 画像隠したりするやつ */
.hide_check {
  cursor : pointer;
  display: none;
}

.css_img_label {
  cursor     : pointer;
  font-size  : 20px;
  text-align : center;
  font-weight: bolder;
  text-shadow: 0 0 10px;
}

.hidden_img_1 img,
.hidden_img_2 img,
.hidden_img_3 img,
.hidden_img_4 img,
.hidden_img_5 img,
.hidden_img_6 img,
.hidden_img_7 img,
.hidden_img_8 img,
.hidden_img_9 img,
.hidden_img_10 img,
.hidden_img_11 img,
.hidden_img_12 img {
  height    : 0px;
  transition: .2s;
}

#hide_1:checked~.hidden_img_1 img,
#hide_2:checked~.hidden_img_2 img,
#hide_3:checked~.hidden_img_3 img,
#hide_4:checked~.hidden_img_4 img,
#hide_5:checked~.hidden_img_5 img,
#hide_6:checked~.hidden_img_6 img,
#hide_7:checked~.hidden_img_7 img,
#hide_8:checked~.hidden_img_8 img,
#hide_9:checked~.hidden_img_9 img,
#hide_10:checked~.hidden_img_10 img,
#hide_11:checked~.hidden_img_11 img,
#hide_12:checked~.hidden_img_12 img {
  height    : auto;
  transition: .2s;
}

/* ダウンロードボタン */

.download {
  margin     : auto;
  left       : 50%;
  right      : 50%;
  text-align : center;
  font-weight: bolder;
  font-size  : 1.1em;
  text-shadow: 0 0 4px white;
  cursor     : pointer;
}

/* コンテンツの設定ここまで */

/* ナビゲーションバーここから */
/* ナビゲーションバー背景 */
.navigation:before {
  position  : absolute;
  width     : 100vw;
  height    : 100%;
  content   : " ";
  background: var(--nav-color);
}

/* 本体 */
.navigation {
  filter         : drop-shadow(0 0 10px var(--accent-color));
  bottom         : 0;
  left           : 50%;
  transform      : translatex(-50%);
  position       : fixed;
  width          : 600px;
  height         : 70px;
  background     : var(--nav-color);
  display        : flex;
  justify-content: center;
  align-content  : center;
  border-radius  : 20px;
}

/* ５個の選択 */
.navigation ul {
  display: flex;
  width  : 500px;
}

/* アイテム一個ずつ */
.navigation ul li {
  list-style: none;
  position  : relative;
  width     : 100px;
  height    : 70px;
  z-index   : 2;
}

/* アイテムの中身 */
.navigation ul li a {
  position       : relative;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  width          : 100%;
  text-align     : center;
}

/* アイコン */
.navigation ul li a .navIcon {
  position   : relative;
  display    : block;
  line-height: 85px;
  font-size  : 3em;
  transition : 0.5s;
  color      : white;
  margin-top : 10px;
}

/* 文字 */
.navigation ul li a .navText {
  position      : absolute;
  background    : var(--accent-color);
  color         : white;
  padding       : 2px 7px;
  border-radius : 12px;
  font-size     : 1em;
  letter-spacing: 0.05em;
  transition    : 0.5s;
  opacity       : 0;
  transform     : translatey(15px);
}

/* 選択時の文字とアイコン */
.navigation ul li.active a .navText {
  transform: translatey(-4px);
  opacity  : 1;
  color    : black;
}

.navigation ul li.active a .navIcon {
  transform : translatey(-40px);
  color     : var(--accent-color);
  margin-top: unset;
}

/* 丸っこい部分 */
.indicator {
  position     : absolute;
  width        : 100px;
  height       : 100px;
  background   : var(--nav-color);
  border-radius: 50%;
  top          : -50px;
  transition   : 0.5s;
}

/* 角取り */
.indicator:before {
  content      : " ";
  position     : absolute;
  top          : 15px;
  left         : -32px;
  height       : 35px;
  width        : 35px;
  background   : transparent;
  border-radius: 50%;
  box-shadow   : 20px 20px var(--nav-color);
}

.indicator:after {
  content      : " ";
  position     : absolute;
  top          : 15px;
  right        : -32px;
  height       : 35px;
  width        : 35px;
  background   : transparent;
  border-radius: 50%;
  box-shadow   : -20px 20px var(--nav-color);
}

/* 丸い奴が動くようにするやつ */
.navigation ul li:nth-child(1).active~.indicator {
  transform: translatex(calc(100px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
  transform: translatex(calc(100px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
  transform: translatex(calc(100px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
  transform: translatex(calc(100px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
  transform: translatex(calc(100px * 4));
}
.changeLang{
  opacity:1 ;
  position:fixed;
  right:0;
  color:white;
  bottom:0;
  padding:20px;
}
/* ナビゲーションバーここまで */:root {
  --accent-color:#ffaadb ;
  --bg-color    : #202020;
  --nav-color   : #404040;
}

/* 基本設定ここから */

@font-face {
  font-family: "JP-Font";
  src        : url(https://namekujilsds.github.io/font/SourceHanSansJP-Heavy.otf);
}

* {
  font-family: "JP-Font";
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
}
::-webkit-scrollbar{
  display:none !important;
}
body {
  height    : 100vh;
  background: var(--bg-color);
}

/* 基本設定ここまで */

/* コンテンツの設定ここから */
#content {
  width    : 900px;
  height   : calc(100vh - 100px);
  overflow : scroll;
  left     : 50%;
  padding  : 10px;
  position : fixed;
  transform: translate(-50%);
}

.box {
  background   : #fff2;
  width        : calc(100% - 15px);
  padding      : 20px;
  line-height  : 150%;
  color        : white;
  font-weight  : lighter;
  box-shadow   : 5px 5px var(--accent-color);
  margin-bottom: 20px;
  margin-top   : 10px;
}

.box a {
  color          : white;
  text-decoration: unset;
}

h1 {
  color      : var(--accent-color);
  font-size  : 40px;
  text-shadow: 0 0 10px var(--accent-color);
  line-height: 50px;
}

h2 {
  color      : var(--accent-color);
  font-size  : 25px;
  line-height: 35px;
}

iframe {
  border: unset !important;
  width : 100%;
  height: 100%;
}

.space {
  height: 30px;
}

.box img {
  width       : 80%;
  margin-left : 10%;
  margin-right: 10%;
}

/* 画像隠したりするやつ */
.hide_check {
  cursor : pointer;
  display: none;
}

.css_img_label {
  cursor     : pointer;
  font-size  : 20px;
  text-align : center;
  font-weight: bolder;
  text-shadow: 0 0 10px;
}

.hidden_img_1 img,
.hidden_img_2 img,
.hidden_img_3 img,
.hidden_img_4 img,
.hidden_img_5 img,
.hidden_img_6 img,
.hidden_img_7 img,
.hidden_img_8 img,
.hidden_img_9 img,
.hidden_img_10 img,
.hidden_img_11 img,
.hidden_img_12 img {
  height    : 0px;
  transition: .2s;
}

#hide_1:checked~.hidden_img_1 img,
#hide_2:checked~.hidden_img_2 img,
#hide_3:checked~.hidden_img_3 img,
#hide_4:checked~.hidden_img_4 img,
#hide_5:checked~.hidden_img_5 img,
#hide_6:checked~.hidden_img_6 img,
#hide_7:checked~.hidden_img_7 img,
#hide_8:checked~.hidden_img_8 img,
#hide_9:checked~.hidden_img_9 img,
#hide_10:checked~.hidden_img_10 img,
#hide_11:checked~.hidden_img_11 img,
#hide_12:checked~.hidden_img_12 img {
  height    : auto;
  transition: .2s;
}

/* ダウンロードボタン */

.download {
  margin     : auto;
  left       : 50%;
  right      : 50%;
  text-align : center;
  font-weight: bolder;
  font-size  : 1.1em;
  text-shadow: 0 0 4px white;
  cursor     : pointer;
}

/* コンテンツの設定ここまで */

/* ナビゲーションバーここから */
/* ナビゲーションバー背景 */
.navigation:before {
  position  : absolute;
  width     : 100vw;
  height    : 100%;
  content   : " ";
  background: var(--nav-color);
}

/* 本体 */
.navigation {
  filter         : drop-shadow(0 0 10px var(--accent-color));
  bottom         : 0;
  left           : 50%;
  transform      : translatex(-50%);
  position       : fixed;
  width          : 600px;
  height         : 70px;
  background     : var(--nav-color);
  display        : flex;
  justify-content: center;
  align-content  : center;
  border-radius  : 20px;
}

/* ５個の選択 */
.navigation ul {
  display: flex;
  width  : 500px;
}

/* アイテム一個ずつ */
.navigation ul li {
  list-style: none;
  position  : relative;
  width     : 100px;
  height    : 70px;
  z-index   : 2;
}

/* アイテムの中身 */
.navigation ul li a {
  position       : relative;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  width          : 100%;
  text-align     : center;
}

/* アイコン */
.navigation ul li a .navIcon {
  position   : relative;
  display    : block;
  line-height: 85px;
  font-size  : 3em;
  transition : 0.5s;
  color      : white;
  margin-top : 10px;
}

/* 文字 */
.navigation ul li a .navText {
  position      : absolute;
  background    : var(--accent-color);
  color         : white;
  padding       : 2px 7px;
  border-radius : 12px;
  font-size     : 1em;
  letter-spacing: 0.05em;
  transition    : 0.5s;
  opacity       : 0;
  transform     : translatey(15px);
}

/* 選択時の文字とアイコン */
.navigation ul li.active a .navText {
  transform: translatey(-4px);
  opacity  : 1;
  color    : black;
}

.navigation ul li.active a .navIcon {
  transform : translatey(-40px);
  color     : var(--accent-color);
  margin-top: unset;
}

/* 丸っこい部分 */
.indicator {
  position     : absolute;
  width        : 100px;
  height       : 100px;
  background   : var(--nav-color);
  border-radius: 50%;
  top          : -50px;
  transition   : 0.5s;
}

/* 角取り */
.indicator:before {
  content      : " ";
  position     : absolute;
  top          : 15px;
  left         : -32px;
  height       : 35px;
  width        : 35px;
  background   : transparent;
  border-radius: 50%;
  box-shadow   : 20px 20px var(--nav-color);
}

.indicator:after {
  content      : " ";
  position     : absolute;
  top          : 15px;
  right        : -32px;
  height       : 35px;
  width        : 35px;
  background   : transparent;
  border-radius: 50%;
  box-shadow   : -20px 20px var(--nav-color);
}

/* 丸い奴が動くようにするやつ */
.navigation ul li:nth-child(1).active~.indicator {
  transform: translatex(calc(100px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
  transform: translatex(calc(100px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
  transform: translatex(calc(100px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
  transform: translatex(calc(100px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
  transform: translatex(calc(100px * 4));
}
.changeLang{
  opacity:1 ;
  position:fixed;
  right:0;
  color:white;
  bottom:0;
  padding:20px;
}
/* ナビゲーションバーここまで */

/* トップページここから*/
.welcome {
    color      : var(--accent-color);
    text-shadow: 0 0 5px var(--accent-color);
    text-align : center;
    margin-top : 50px;
}

.langChose {
    color      : var(--accent-color);
    text-shadow: 0 0 5px var(--accent-color);
    text-align : center;
    margin-top : 20px;
}

.langBox {
    left     : 50%;
    top      : 60%;
    transform: translate(-50%, -50%);
    position : fixed;
    display  : flex;
}

.lang.ja {
    margin-left    : 30px;
    margin-right   : 30px;
    padding        : 0px;
    width          : 250px;
    padding-top    : 60px;
    padding-bottom : 60px;
    color          : white;
    font-size      : 30px;
    text-decoration: unset;
    text-align     : center;
    background     : linear-gradient(to right,var(--nav-color)0% 50%, var(--accent-color-2) 0% 100%);
    transition     : .2s;
    text-shadow:0 0 0 var(--black),1px 0 0 var(--black),-1px 0 var(--black),0 -1px var(--black),0 1px var(--black),1px 1px var(--black),1px -1px var(--black),-1px 1px var(--black),-1px -1px var(--black),0 2px var(--black),0 -2px var(--black),2px 0 var(--black),-2px 0  var(--black),1px 2px var(--black),-1px 2px var(--black),1px -2px var(--black),-1px -2px var(--black),2px 2px var(--black),-2px 2px var(--black),2px -2px var(--black),-2px -2px var(--black),0 0 2px var(--black),0 0 2px var(--black),0 0 2px var(--black) ;
}

.lang.en {
    margin-left    : 30px;
    margin-right   : 30px;
    padding        : 0px;
    width          : 250px;
    padding-top    : 60px;
    padding-bottom : 60px;
    color          : white;
    font-size      : 30px;
    text-decoration: unset;
    text-align     : center;
    background     : linear-gradient(to right,var(--nav-color)0% 50%, var(--accent-color-3) 0% 100%);
    transition     : .2s;
    text-shadow:0 0 0 var(--black),1px 0 0 var(--black),-1px 0 var(--black),0 -1px var(--black),0 1px var(--black),1px 1px var(--black),1px -1px var(--black),-1px 1px var(--black),-1px -1px var(--black),0 2px var(--black),0 -2px var(--black),2px 0 var(--black),-2px 0  var(--black),1px 2px var(--black),-1px 2px var(--black),1px -2px var(--black),-1px -2px var(--black),2px 2px var(--black),-2px 2px var(--black),2px -2px var(--black),-2px -2px var(--black),0 0 2px var(--black),0 0 2px var(--black),0 0 2px var(--black) ;
}

/* トップページここまで */
