@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* div {
    outline: 1px solid #fff2;
} */

#profileBox {
    background: url("https://cdn.discordapp.com/attachments/1186527845149843516/1198853019819855973/test.png");
    width: 830px;
    height: 570px;
    border-radius: 20px;
    /* outline: 4px solid #222; */
    border: 4px solid white;
    color: white;
    position: relative;
    font-family: 'Afacad', sans-serif;
    text-shadow: 0 0 10px black;
}

#head {
    display: grid;
    grid-template-areas:
        "icon name name name gems"
        "icon levl prog prog gems";
    grid-template-columns: 100px 40px 340px 180px auto;
    grid-gap: 5px;
    width: 750px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    background: #0006;
    padding-bottom: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 2px solid #0006
}

#gem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
}

#icon {
    grid-area: icon;
    height: 64px;
    width: 64px;
}

#clan {
    font-size: 30px;
    margin-left: 10px;
}

#name {
    font-size: 30px;
}

#nameHolder {
    grid-area: name;
    display: flex;
}

#lv {
    grid-area: levl;
}

#xp {
    grid-area: prog;
    border: 1px solid #fff4;
}

#gem {
    grid-area: gems;
}

#bodyBR,
#bodyCTG {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 10px;
    width: 790px;
    margin-left: auto;
    margin-right: auto;
}

#bodyBRTitle {
    position: absolute;
    font-size: 30px;
    margin-top: -40px;
}

#bodyBR {
    margin-top: 40px;
}

#bodyCTG {
    margin-top: 70px;
}

#bodyCTGTitle {
    position: absolute;
    font-size: 30px;
    margin-top: -50px;
}

#xp {
    position: relative;
}

#xpVal {
    position: absolute;
    left: 10px;
}

#xpInner {
    height: 100%;
    background: linear-gradient(90deg, rgb(109, 0, 94), rgb(255, 142, 176))
}

#stat {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 50px;

}

#statTitle {
    font-size: 15px;
    color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

#statVal {
    font-size: 24px;
}

#accGen {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 20px;
}

#vvcName {
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: #aaa
}