@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    ;
}

/* リセットスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* コンテナ */
.container {
    display: flex;
    height: 100vh;
}

/* サイドバー */
.sidebar {
    width: 400px;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    transition: .2s;

}

.sidebar ul li a:hover {
    transition: .2s;
    background: #fff2
}

/* メインコンテンツ */
.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #222;
    overflow-y: auto;
}

.content h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #fff;
}

.content h2 {
    font-size: 24px;
    margin: 20px 0 10px;
}

.settingBody {
    background: #333;
    padding: 20px;
    color: #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.settingBody h3,
.settingBody h2,
.settingBody h1 {
    color: #fff;
    margin: 10px;
}

.settingContents {
    margin: 5px;
    margin-left: 20px;
    background-color: #fff2;
    padding: 10px;
    border-radius: 10px;
}

.settingContents #divP {
    margin: 10px;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid rgb(206, 206, 206);
}

.settingContents a {
    padding: 1px;
    border-radius: 5px;
    background: #255d91;
    color: white;
    text-decoration: none;
}

.settingContents a:hover {
    background: #4c8cc9;
}

.settingContents .indent {
    margin-left: 30px;
}

h3 {
    text-shadow: 0 0 3px rgb(168, 168, 168);
}

b {
    color: rgb(225, 255, 200);
}

strong {
    color: rgb(255, 127, 127);
}

#path {
    background: #222;
    color: #aaa;
    padding: 2px;
    border-radius: 2px;
    font-family: monospace;
}

pre {
    background: rgb(43, 43, 43);
    padding: 5px;
    border-radius: 10px;

}

#divP .material-symbols-outlined {
    font-size: 14px;
}

.settingBody>#divP {
    margin-left: 20px;
}