html,
body {
    margin: unset;
    padding: unset;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    background-color: #222;
    color: white;
}

header {
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    background: #333;
    align-items: center;
}

#mainContent {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#cat {
    /* border: 1px solid; */
    margin: 10px;
    padding: 10px;
}

#catTitle {
    font-size: 30px;
    font-weight: 700;
}

#content {
    padding-left: 5%;
    margin-left: 5%;
    border-left: 2px solid #999;
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #999;
}

#contentBoxTitle {
    font-size: 20px;
}

#contentBoxBody {
    margin-left: 5%;
}

#contentBoxBody {
    margin-bottom: 4px;
    color: #aaa;
}