body {
    background-color: #252525;
    color: white
}

#pastingArea {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: fixed;
    background-color: #fff4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    font-size: 50px;
    color: #fff4;
    border: #aaa 4px dashed
}