:root {
  --main: #ff66ff
}

@font-face {
  font-family: gamefont;
  src: url(https://fonts.gstatic.com/s/chewy/v12/uK_94ruUb-k-wn52KjI.woff2) format('woff2');
}

#menuPingDisplay .material-icons, .verticalSeparator, #editorBtnM, .imageButton, #faceItIconM, #tlInfHold, #newsHolder {
  display: none !important;
}

.headerBar {
  background: transparent;
}

#menuServerInfoContainer {
  align-items: center;
  flex-direction: row;
  font-size: 20px;
}

#menuPingText, #menuPingDisplay, #menuFPSDisplay {
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

#menuPingText:after {
  color: rgba(256, 256, 256, 0.7);
  content: " Ping"
}

#seasonLabel {
  font-size: 0;
}

#seasonLabel:after {
  font-size: 23px;
  content: "By slug";
}

#mainLogo {
  content: url("https://cdn.discordapp.com/attachments/847394018932817970/848746058061971457/KENTAs_Krunker_Logo_1.png");
  height: 300px;
  margin-top: 20px;
}

#termsInfo {
  display: none;
}

.button.lgn {
  background: transparent !important;
  box-shadow: none !important;
  border: 3px dotted var(--main);
  border-radius: 0 !important;
}

#menuItemContainer {
  bottom: 5%;
  top: unset;
  flex-direction: row;
  width: 50%;
  transform: translateX(50%);
  height: 4%;
  z-index: 20;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.menuItem {
  background: transparent;
}

.menuItem:hover {
  border-left: 0;
  color: var(--main) !important;
  transform: scale(.91)
}

.menuItem .menuItemTitle {
  color: unset;
  text-shadow: -2px -2px black, 2px 2px black, -2px 2px black, 2px -2px black;
}

.menuItem .menuItemIcon {
  display: none !important;
}

.menuItem .menuItemTitle {
  font-size: 35px!important;
  display: flex;
  margin-top: 0 !important;
}

div#aHider {
  display: none !important;
}

#ot-sdk-btn-floating.ot-floating-button {
  display: none !important;
}

#subLogoButtons>.button {
  font-size: 30px !important;
  background: transparent !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

#subLogoButtons {
  transform: translate(-50%, -10%) scale(.95);
  z-index: 20;
}

#subLogoButtons>.button:hover {
  color: var(--main) !important;
}

#policeButton {
  display: none !important;
}

#menuClassContainer {
  top: unset;
  bottom: 14%;
  position: fixed;
  left: 50%;
  top: unset;
  right: 50%;
  transform: scale(0.9);
}



#classPreviewCanvas, #menuClassName, #menuClassNameTag, #menuClassSubtext {
  opacity: 0;
  transition-duration: 0.25s;
}

#menuClassContainer:hover>#classPreviewCanvas {
  opacity: 1;
}

#menuClassContainer:hover>#menuClassName {
  opacity: 1;
}

#menuClassContainer:hover>#menuClassSubtext {
  opacity: 1;
}

#menuClassContainer:hover>#menuClassNameTag {
  opacity: 1;
}

#customizeButton {
  background: transparent !important;
  box-shadow: none !important;
  margin-top: -10%;
}

#customizeButton:hover {
  backdrop-filter: blur(10px);
}

#loadingBg {
  content: url("https://cdn.discordapp.com/attachments/847394018932817970/848797324200640543/unknown.png");
  width: 100%;
  display: flex;
}

.endAHolder {
  display: none !important;
}

#bubbleContainer {
  display: none !important;
}

#uiBase.onMenu #chatHolder {
  left: 2%;
  transition: .2s;
  bottom: 2%;
}

#windowHolder.popupWin[style="display: block;"] {
  transform: scale(1) rotateZ(0deg);
  transition: .2s;
  opacity: 1;
  background: transparent;
  z-index: 10;
}

#windowHolder.popupWin[style="display: none;"] {
  transform: scale(0) rotateZ(180deg);
  transition: .2s;
  background: transparent;
  display: block !important;
  opacity: .5;
}

#voiceDisplay {
  display: none !important;
}

#chatList {
  background: transparent;
  transform: skewY(-5deg);
}

#chatList::-webkit-scrollbar {
  width: 0px;
}

.chatItem {
  border: 3px var(--main) solid;
  margin-top: 0;
  padding: 12px;
  background: black;
  width: -webkit-fill-available;
}

.chatMsg {
  color: white !important;
}

.chatMsg[style="color:#fc03ec"] {
  color: #fc03ec !important;
}

#chatSwitchHolder {
  display: none;
}

#chatInputHolder {
  background: transparent;
  box-shadow: none;
  border: none;
}

#chatInput {
  background: black;
  border: solid 2px var(--main);
  transform: skewY(-5deg);
  color: white;
  margin-left: -50px;
  border-radius: 0;
  margin-top: -15px;
}

#chatHolder {
  transform: rotateX(0deg);
}

.accountButton {
  background: var(--main);
}

#windowCloser {
  z-index: 1;
}

.setHed, .setHedS, .mFeatSepar {
  margin-top: 10px;
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: dotted var(--main) 4px;
}

.setBodH {
  background: transparent;
}

.settName, .settNameSmall {
  border-color: var(--main);
}

#menuWindow.dark {
  background: black;
}

.settingsHeader, .serverHeader {
  background: black;
  border-bottom: solid 1px var(--main);
}

input:checked+.slider {
  background: var(--main);
}

.slider {
  border-radius: 30px;
}

.slider:before {
  border-radius: 30px;
}

.sliderM {
  background: linear-gradient(0deg, black 0 30%, white 0% 70%, black 0% 100%);
}

.sliderM::-webkit-slider-thumb {
  background: var(--main);
  width: 20px;
  height: 20px;
  border-radius: 20px;
}

.sliderVal {
  border: none !important;
  border-bottom: 3px solid white !important;
  border-radius: 0 !important;
}

.bigMenTabA, .dark .tabANew {
  text-shadow: 0 0 10px white, 0 0 10px white;
  border-bottom: 5px double var(--main) !important;
}

.bigMenTabA, .dark .tabANew:hover {
  border-bottom: 5px double var(--main) !important;
}

.bigMenTab:hover, .settingTab:hover {
  border-bottom: none !important;
  text-shadow: 0 0 10px var(--main), 0 0 10px var(--main);
}

.bigMFeatHold {
  display: none !important;
}

.material-icons[style="font-size:42px;color:#fbc02d;vertical-align:middle;margin-top:-10px;"], .material-icons[style="color:#fbc02d;font-size:42px;vertical-align:bottom"] {
  color: var(--main) !important;
}

a {
  color: var(--main);
}

input:checked+.optCheck {
  background: var(--main);
}

.hostToggle, .searchBtn, .settingsBtn, .hostPresetBtn, .hostCBtn {
  background: var(--main);
}

.hostCBtn {
  border: 0;
}

input[type=color], #mpCat {
  border: white 2px solid;
}

#menuWindow.dark::-webkit-scrollbar {
  width: 5px;
}

#instructionHolder {
  backdrop-filter: grayscale(1);
}

#instructions {
  color: var(--main);
}

.selectorLabel {
  display: none;
}

.selectorItem .selectorIcon {
  margin-top: 0;
}

.selectorItem {
  border-radius: 20% 10% 20% 10%;
  filter: grayscale(1);
  transition: .3s;
}

.selectorItem:hover {
  border-radius: 10% 20% 10% 20%;
}

.selectedItem {
  transition: .3s;
  border-radius: 100px;
  filter: grayscale(0);
  box-shadow: 0 0 10px var(--main);
}

.classCard {
  margin-right: 5px;
  margin-left: 2px;
  border-inline: var(--main) solid 4px;
  background: black;
  border-radius: 10% 20% 10% 20%;
}

span.settNameSmall[style="margin:0;margin-bottom:5px;"] {
  border-bottom: 0;
}

.loadoutBtn {
  background: var(--main);
}

#itemSearchH {
  background: black;
  border-bottom: 2px solid var(--main);
}

.mapListItem {
  border: solid 1px var(--main);
}

a:active {
  color: var(--main);
  filter: brightness(2);
}

.subPassChg, .subPassChg:hover, .updDisN, .updDisN:hover {
  background: var(--main);
}

.xpBar {
  border: solid 2px white;
}

.xpBarB {
  background: var(--main);
}

.menuClassPlayerName, .menuClassPlayerClan {
  display: none;
  flex-wrap: nowrap;
}

.menuClassLevelBox, i.material-icons.menuClassPlayerPremium {
  display: none;
}

.noBtnCard {
  border-radius: 10% 20% 10% 20%;
}

.noBtnCard:hover {
  border-radius: 20% 10% 20% 10%;
}

.quickJoin, #hostMenuBtn {
  background: var(--main);
}

.carousel {
  display: none !important;
}

@keyframes yure {
  0% {
    transform: rotateZ(5deg);
  }
  50% {
    transform: rotateZ(-5deg);
  }
  100% {
    transform: rotateZ(5deg);
  }
}

#claimPop {
  animation: yure infinite 2s;
  left: 38%;
  text-align: center;
  top: 45%;
}

#mLevelCont {
  display: none;
}

.advancedToggle[style="background-color: rgb(33, 150, 243);"] {
  background: var(--main) !important;
}


/*GAME UI*/

#healthBar {
  height: 70px;
  transform: skewX(-10deg) scaleX(2);
  border: 5px solid aqua;
  left: 15%;
  position: fixed;
  right: unset;
  bottom: 2%;
}

.healthBarSeg {
  display: inline-block;
  border-radius: 0px;
  margin-right: -2px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.hpBSeg {
  background-color: var(--main) !important;
  border-radius: 0;
  box-shadow: none;
}

#hudClassImg, #igXPBar {
  display: none !important;
}

#hudClassIcon {
  background: transparent;
  content: url(https://cdn.discordapp.com/attachments/847394018932817970/848910916384063558/image0_1.png);
  height: 450px;
  width: unset;
  left: 12%;
  bottom: 5%;
  right: unset;
  position: fixed;
  z-index: 1;
  filter: saturate(1.4) brightness(1.1) contrast(1.2) drop-shadow(2px 2px aqua) drop-shadow(2px -2px aqua) drop-shadow(-2px 2px aqua) drop-shadow(-2px -2px aqua);
}

#healthValueHolder {
  position: fixed;
  background: transparent;
  left: 13%;
  bottom: 2%;
  z-index: 10;
}

#healthValue {
  font-size: 50px;
  text-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black;
}

#healthValue:before {
  content: "HP ";
  font-size: 40px;
}

#challIcon {
  margin-left: 10px;
  filter: brightness(10);
}

#timerIcon {
  display: none;
}

#timerDisplay {
  background: transparent;
  position: fixed;
  display: flex;
  right: unset;
  bottom: auto;
  left: 47%;
  top: 3%;
  text-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black;
}

#timerVal {
  font-size: 60px;
}

.weapIcon {
  filter: brightness(0) drop-shadow(0 0 2px var(--main)) drop-shadow(0 0 2px var(--main)) drop-shadow(0 0 2px var(--main));
}

.weapIcon[style="opacity: 0.7; margin-right: 25px;"], .weapIcon[style="opacity: 0.7;"], .weapIcon[style="opacity:0.7;margin-right:25px"] {
  margin-right: 0;
  transform: rotateY(360deg);
  transition: .2s;
}

.weapIcon[style="opacity: 1;"], .weapIcon[style="opacity:1"], .weapIcon[style="opacity: 1; margin-right: 25px;"] {
  margin-right: 0;
  transition: .2s;
  transform: rotateY(0deg) translateY(-40%);
  ;
}

.weapKey {
  display: none;
}

#weapDisplay[style="display: block;"] {
  left: auto;
  right: 42%;
  display: flex !important;
  flex-direction: row;
}

#reloadMsg {
  background: transparent;
  bottom: 40%;
  font-size: 0;
}

#reloadMsg:after {
  font-family: Material Icons;
  content: "report_problem";
  font-size: 40px;
  color: var(--main);
}

.socPost, #postEntryC, .scrollItem, .feedTab {
  box-shadow: none;
}

.feedTab {
  background: black;
  color: white !important;
}

.socPost, .scrollItem {
  background: black;
  border-style: dashed;
  border-color: var(--main);
}

.postSubInfo {
  color: white;
}

.material-icons[style="vertical-align:middle;margin-top:-7px;font-size:29px"], .material-icons[style="vertical-align:middle;margin-top:-4px;font-size:31px"], .material-icons[style="vertical-align:middle;margin-top:-6px;font-size:29px"], .material-icons[style="margin-bottom:5px;font-size:25px;color:#FBC02D;vertical-align:middle;margin-left:-2px"] {
  color: var(--main) !important;
}

.feedTabA {
  box-shadow: 0 0 10px var(--main);
  opacity: 1;
}

.likesHolder {
  color: white !important;
}

* {
  color: white !important;
}

#aHolder, #rightABox {
  display: none !important;
}

#hubBox {
  background: var(--main);
}

#marketFiltTxt, #invSortTxt {
  background: black;
  box-shadow: none !important;
  border: 3px white;
  color: white;
}

input:checked+.sliderSml2, #filterTog, #sortTog {
  background: var(--main);
}

#seaSort {
  color: black !important;
}

option {
  color: black !important;
}

#backgroundImage {
  background-image: url("https://cdn.discordapp.com/attachments/847394018932817970/849073064221474836/unknown.png");
}

.pTabA, .profileTab, .scrollItemNew {
  background: black;
}

#tradeBtn {
  background-color: #2196f3;
}

#giftBtn {
  background-color: #41c300;
}

#followBtn {
  background-color: #40c4ff;
}
