@font-face {
  font-family: gamefont;
  font-weight: bolder;
  src: url(https://f.easyuploader.app/20210513080616_7558486f.ttf);
}

#tlInfHold, #chatSwitchHolder, #menuPingDisplay .material-icons, #seasonLabel, #mLevelCont, #uiBase.onMenu #voiceDisplay, #faceItIconM, aHider, #aHolder, #newsHolder, #editorBtnM, .verticalSeparator, .imageButton {
  display: none !important;
}


/*Menu Left*/

.menuItem .menuItemIcon {
  display: none;
}

.menuItem {
  display: flex;
  transition: .2s;
  background: transparent;
  justify-content: center;
  align-self: flex-start;
}

.menuItem:hover {
  transition: .2s;
  display: flex;
  justify-content: center;
  border-left: solid 50px transparent;
}

.mapListItem .mapActionOvrl {
  height: 78%;
}

.mFeatSepar {
  background: transparent;
  border: 0;
  border-bottom: 5px white solid;
  border-radius: 0
}

#menuItemContainer {
  margin-left: 2%;
  height: 40%;
  top: 15%;
}

.menuItem .menuItemTitle {
  margin-top: 0%;
}

.menuItem .menuItemTitle {
  font-size: 40px !important;
}

.headerBarLeft {
  left: 85%;
  background: transparent !important;
}

.headerBarRight {
  top: 90%;
}

.button {
  background: transparent !important;
  box-shadow: none !important;
}

.buttonP.lgn:hover {
  background: transparent !important;
  box-shadow: none !important;
  filter: drop-shadow(2px 2px 5px white);
}

#subLogoButtons {
  position: fixed;
  left: 5%;
  flex-direction: column;
  top: 55%;
  transition: .2s;
}

#subLogoButtons>.button {
  display: flex;
  font-size: 25px !important;
  text-shadow: none !important;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  transition: .2s;
}

#subLogoButtons>.button:hover {
  background: transparent !important;
  box-shadow: none !important;
  border-left: transparent solid 50px;
  border-color: transparent;
  transition: .2s;
}

.small.button:hover>#subLogoButtons {
  transform: translateX(-100px);
}


/*chat*/

#chatInput, #chatInputHolder {
  background: transparent;
  box-shadow: none !important;
  border: none !important;
}

#chatList {
  max-height: 200px !important;
  background: transparent !important;
}

#chatList::-webkit-scrollbar {
  background: #ff000000;
  border: none;
  width: 0px;
}

#chatList::-webkit-scrollbar-thumb {
  background: white;
  border: none;
  width: 0px;
}

#uiBase.onMenu #chatHolder {
  left: 2%;
  width: 10%;
  transition: .2s;
}

#instructions:before, #instructions:after {
  content: " - ";
}

#instructions {
  font-size: 50px !important;
  animation: none;
}

#chatInput {
  width: 155px;
}

.chatItem {
  margin-top: 0;
  margin-bottom: 3%;
  font-size: 20px;
  background: transparent !important;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

#ot-sdk-btn-floating.ot-floating-button {
  display: none !important;
}

.button.buttonCL.buttonP {
  border-bottom: solid white 5px;
  border-radius: 0;
}

.button.buttonCL.buttonP:hover {
  background: transparent !important;
  box-shadow: none !important;
}

#mainLogo {
  content: url("https://f.easyuploader.app/20210513140956_4e416462.png");
  position: absolute;
  transform: translateX(-95%) translateY(-20%) scale(0.7);
}

#customizeButton:hover {
  border-radius: 0px;
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 10px solid #ffffff;
  ;
}

.terms, .verticalSeparatorInline {
  display: none;
}

.standout {
  display: block;
  font-size: 0px;
}

.standout:before {
  font-size: 25px;
  content: "CSS BY NAMEKUJILSDS#7777";
  color: #f0ff02;
}

#termsInfo {
  background: transparent;
}

#menuServerInfoContainer, .headerBarRight {
  background: transparent;
  right: 7%;
  bottom: 5%;
  position: fixed;
}

#menuPingText, #menuRegionLabel, #menuPingDisplay, #menuFPSDisplay {
  font-size: 30px;
}

#menuPingText:after {
  content: " Ping";
}

#customizeButton {
  border-bottom: 0px white solid;
  border-radius: 0;
  backdrop-filter: blur(5px);
}

#policeButton:hover {
  border-radius: 0px;
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 10px solid #fff;
}


/*Menu Window*/

.settingsHeader, #itemSearchH, .serverHeader {
  backdrop-filter: blur(10px);
  background: transparent;
}

#menuWindow.dark, #menuWindow {
  background: linear-gradient(45deg, rgb(228 167 255 / 50%), rgb(175 240 255 / 50%));
}

.setHed, .setHed:hover {
  background: transparent;
  border: none;
  padding: 0 !important;
  margin-top: 1%;
}

.setHed[style="margin-top:20px;"] {
  margin-top: 10px !important;
}

.setHed:hover {
  filter: drop-shadow(0 0 2px black);
}

.setBodH {
  background: transparent;
  margin-top: 0;
}

.settName, .settNameSmall {
  background: #0000007d;
  padding-left: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 2%;
  height: -webkit-fill-available;
}

.settingTab {
  background: transparent;
}

.settingTab:hover {
  border-color: #ff8fff;
}

.dark .tabANew {
  text-shadow: 0 0 5px white;
}

.sliderVal {
  background: transparent;
  border: 0 !important;
  margin-top: -0.5%;
  font-size: 25px !important;
  border-bottom: double 5px white !important;
  border-radius: 0;
}

.slidecontainer {
  margin-top: 0 !important;
}

.settingsBtn {
  background: lightblue;
  color: black !important;
}

.sliderM {
  height: 10px;
  background: #4f97ff;
}

.sliderM::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
  border-radius: 15px;
}

.slider {
  background: lightgray;
  border: 0 !important;
}

input:checked+.slider:before {
  transform: none;
  width: 0;
  content: "ON";
  font-size: 25px;
}

input[type=color] {
  border-color: black;
}

input:checked+.slider {
  background: #99ff8d;
}

.slider:before {
  font-size: 25px;
  content: " OFF";
}

.slider {
  background: #ffa8ed;
}

.slider:before {
  width: 0;
}

.selectorItem:hover, .selectorItem {
  background: transparent;
}

#selectorContainer {
  background: transparent;
}

.selectedItem {
  animation-name: selected;
  animation-duration: 1s;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

@keyframes selected {
  0% {
    transform: scale(0.9) translateX(-55%);
  }
  50% {
    transform: scale(1) translateX(-50%);
  }
  100% {
    transform: scale(0.9) translateX(-55%);
  }
}

.classCard:hover {
  filter: brightness(1.3);
}

.classWeap {
  color: black !important;
}

.classCard {
  padding-right: 3%;
  padding-left: 2%;
  width: 17%;
  height: 10%;
  text-shadow: none!important;
  border-radius: 0;
}

.classImgC, .classImgC:hover {
  width: -webkit-fill-available;
  border-radius: 0px;
}

.classCard {
  border: solid black 2px;
  color: black !important;
  margin-bottom: 3%;
}

.classXPBar, .classLvl, .classHP {
  display: none !important;
}

.skinCard {
  transform: skewX(-5deg);
}

.skinImgC {
  width: inherit;
  transform: skewX(5deg);
}

#skinList::-webkit-scrollbar {
  width: 0px;
}

.custContainer {
  margin-left: -2%;
  margin-right: 2%;
}

.custIcon {}

.settNameSmall {
  background: transparent;
  border: none !important;
}

#spectButton {
  position: fixed !important;
  left: 86% !important;
  bottom: 10% !important;
  transform: scale(1.5) !important;
}


/*MenuWindow*/

.purejscarousel-slides-container {
  display: none;
}

#windowHolder[style="display: none;"] {
  display: block !important;
  position: fixed;
  background: transparent;
  transform: translateX(100%);
  transition: .3s;
}

#windowHolder[style="display: block;"] {
  position: fixed;
  background: transparent;
  transform: translateX(0%);
  transition: .3s
}

#windowCloser {
  display: none;
}

.setHedS {
  border: 0;
  background: transparent;
}

.xpBarB {
  background: lightblue;
}

.xpBarV {
  color: black;
  font-size: 25px;
}

#uiBase.onGame #voiceDisplay {
  display: none !important;
}


/*INGAME UI*/

#challIcon {
  display: none !important;
}

#healthValueHolder {
  transform: rotateZ(-5deg);
  background: transparent;
}

#healthValue {
  font-size: 60px;
}

#maxHP {
  font-size: 40px;
}

.healthBarSeg {
  margin-right: 5px;
  background: transparent;
}

.hpBSeg {
  box-shadow: none !important;
  background: rgb(255 255 255 / 0.7) !important;
  border-radius: 0px;
}

#healthBar {
  transform: skewX(-15deg) translateY(-30%) translateX(5%) rotateZ(-5deg);
  border-radius: 0px;
}

#hudClassIcon {
  border: 5px black solid;
  box-shadow: 0 0 10px black;
  transform: rotateZ(45deg);
  background: white;
}

#hudClassImg {
  filter: drop-shadow(0 0 10px black);
  transform: rotateZ(-45deg);
}

#igXPBar {
  width: 12%;
  height: 1%;
  left: 11%;
  bottom: 8%;
  transform: rotateZ(-5deg);
  background: white !important;
  opacity: 1 !important;
  background-color: white;
}

#igXPBarProg {
  background: hsl(188deg 100% 50%) !important;
}

#bottomLeftHolder {
  margin-left: 3%;
  margin-bottom: 3%;
}

#ammoDisplay {
  background: transparent;
  transform: rotateZ(5deg);
  position: fixed;
  right: 5%;
  bottom: 10%;
}

#ammoVal {
  font-size: 60px;
}

#ammoMax {
  font-size: 40px;
}

#ammoIcon {
  display: none !important;
}

#weapDisplay {
  position: fixed;
}

.weapIcon {
  transform: rotateZ(5deg);
}

.weapKey {
  display: none !important;
}

.weapIcon[style="opacity: 1; margin-right: 25px;"], .weapIcon[style="opacity: 1;"], .weapIcon[style="opacity:1"] {
  right: 3%;
  bottom: 5%;
  position: fixed;
  border-radius: 10px;
  padding-right: 1%;
  border-right: 5px #7ff7fc solid;
  transition: .1s;
  margin-right: 0 !important;
}

.weapIcon[style="opacity: 0.7;"], .weapIcon[style="opacity:0.7;margin-right:25px"], .weapIcon[style="opacity: 0.7; margin-right: 25px;"] {
  right: 3%;
  bottom: 5%;
  position: fixed;
  border-radius: 20px;
  padding-right: 1%;
  border-right: 5px #7ff7fc solid;
  opacity: 0 !important;
  margin-right: 0px !important;
  transition: .1s;
}

.endAHolder {
  display: none !important;
}

#timerDisplay {
  position: fixed;
  left: 47%;
  background: transparent;
  border-radius: 100px;
}

#timerIcon {
  display: none !important;
}

#timerVal {
  font-size: 60px;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

.debugInfo {
  right: 1%;
  position: fixed;
}

#pingDisplay .material-icons {
  display: none;
}

#pingText, #ingameFPS, #ingressPacketCount, #ingressDataSize, #egressPacketCount, #egressDataSize {
  color: white !important;
  text-shadow: 0 0 4px black;
  font-size: 25px !important;
}

#pingText:after {
  content: " ping";
  font-size: 18px;
}

#pingDisplay {
  position: fixed;
  left: 5%;
  top: 96.5%;
}

#uiBase.onGame #chatHolder {
  bottom: 20% !important;
  transition: .2s;
}

#tScoreV1.tScoreT {
  position: fixed;
  left: 44%;
  top: 4%;
  font-size: 40px;
  color: red;
  border: solid white 2px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-left-radius: 20px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
}

#tScoreV2.tScoreT {
  position: fixed;
  right: 42%;
  top: 4%;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
  border: solid white 2px;
  padding-right: 20px;
  padding-left: 20px;
  border-top-right-radius: 20px;
  background: rgb(255 255 255 / 0%)55 255 255 / 0.5);
}

#gameMessage {
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
  color: white;
}

.tScoreC {
  display: none !important;
}

#teamScores {
  background: transparent;
}

#fpsDisplay {
  bottom: 1%;
  left: 2%;
  position: fixed;
}

.tScoreM, .tScoreF {
  display: none !important;
}
