:root {
  /*LeaderBoard*/
  --color1: #fff;
  /*Weapon Shadows*/
  --color2: aqua;
  /*Why i add this...?*/
  --color3: black;
  /*timer color*/
  --time  : #8194ff;
  /*ammo color*/
  --ammoC : #fff;
  /*Health color*/
  --hpC   : #fff;
  /*reload bar color*/
  --relc1 : #95ff4b;
  --relc2 : #53f0ff;
  /*[R]Reloading color*/
  --relmsg: pink;
}

@font-face {
  font-family: gamefont;
  src        : url(https://fonts.gstatic.com/s/fredokaone/v8/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2);
}

.discordSocial,
div#onetrust-consent-sdk,
.verticalSeparator,
.redditSocial,
#editorBtnM,
#editorBtnM,
#tlInfHold,
#newsHolder,
#aHolder,
#faceItIconM,
.weapKey {
  display: none !important
}

.headerBarRight {
  background: transparent;
}

#menuItemContainer {
  border-right  : 4px white solid;
  display       : flex;
  flex-direction: row;
  top           : unset;
  bottom        : 0;
  height        : 12%;
  left          : 0;
  right         : 0;
  width         : 100%;
}

.menuItem:hover {
  border-left: unset;
  border-top : 10px solid;
}

#mapInfoHolder {
  display       : block;
  bottom        : 13%;
  padding-bottom: 50px;
}

#termsInfo {
  background: transparent;
  padding   : 0;
  height    : 0px;
}

#termsInfo:before {
  content  : "CSS BY NamekujiLSDs#7777";
  color    : yellow;
  font-size: 18px;
}

.verticalSeparatorInline {
  display: none;
}

.terms {
  font-size: 0;
}

#mapInfo {
  margin-bottom: 0px;
  ;
}

#subLogoButtons {
  bottom: 15%;
}

#uiBase.onMenu #chatHolder {
  bottom    : 15%;
  left      : 1%;
  transition: .2s;
}

#uiBase.onMenu #voiceDisplay {
  display: none;
}


/*Game UI*/

#leaderDisplay:before {
  content: "LeaderBoard";
  color  : var(--color1);
}

#leaderContainer {
  margin-top: 10px;
  border-top: 4px dotted var(--color1)
}

div#streakCount {
  background: transparent;
  left      : 50%;
  position  : fixed;
  transform : translateX(-50%) scale(2);
  bottom    : 15%;
}

#killsVal,
#deathsVal,
#streakVal,
#myScoreVal,
#kdVal {
  color: white;
}

.weapItem {
  display  : block;
  position : fixed;
  left     : 50%;
  bottom   : 3%;
  transform: translateX(-50%);
}

.weapIcon[style="opacity: 0.7; margin-right: 25px;"],
.weapIcon[style="opacity: 0.7;"],
.weapIcon[style="opacity:0.7;margin-right:25px"] {
  transform : rotateX(90deg);
  transition: .2s;
  filter    : drop-shadow(4px 4px 0px var(--color2));
}

.weapIcon[style="opacity: 1;"],
.weapIcon[style="opacity:1"],
.weapIcon[style="opacity: 1; margin-right: 25px;"] {
  transition: .2s;
  filter    : drop-shadow(4px 4px 0px var(--color2));
}

#timerDisplay {
  display   : block !important;
  background: transparent;
  left      : 50%;
  bottom    : 20%;
  position  : fixed;
  transform : translateX(-50%);
}

#timerIcon {
  display: none;
}

#timerVal {
  color    : var(--time);
  font-size: 40px;
}

.debugInfo {
  background : rgba(0, 0, 0, .3);
  padding    : 10px;
  bottom     : 3%;
  left       : 10px;
  margin-top : -10px;
  margin-left: -10px;
}

#timerVal,
#ammoVal,
#healthValue {
  text-shadow: 2px 2px black, 2px -2px black, -2px 2px black, -2px -2px black;
}

#ammoDisplay {
  position        : fixed;
  bottom          : 47%;
  left            : calc(50% - 40px);
  transform       : unset;
  width           : 80px;
  padding         : 0;
  height          : 8px;
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--relc1), var(--relc2))
}

#ammoVal {
  position : fixed;
  bottom   : 35%;
  right    : 40%;
  font-size: 60px;
  color    : var(--ammoC)
}

#ammoMax,
#ammoIcon {
  display: none;
}

#healthValue {
  color    : var(--hpC);
  font-size: 60px;
  position : fixed;
  left     : 40%;
  bottom   : 35%;
}

#maxHP,
#challIcon {
  display: none;
}

#healthValueHolder {
  background: transparent;
}

#reloadMsg {
  padding-left : unset;
  padding-right: unset;
  line-height  : unset;
  bottom       : 44%;
  background   : transparent;
  border       : none;
  color        : var(--relmsg);
}

.healthBarSeg {
  width        : -webkit-fill-available;
  margin-right : -1px;
  border-radius: unset;
  background   : transparent;
}

#healthBar {
  border        : black solid 2px;
  width         : 300px;
  height        : 10px;
  display       : flex;
  flex-direction: row;
  background    : transparent;
  position      : fixed;
  bottom        : 10px;
  left          : 50%;
  transform     : translateX(-50%);
}

.hpBSeg {
  border-radius: unset;
  box-shadow   : unset;
}

#hudClassIcon {
  display: none;
}