@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap);

html {
    height: 100px;
    width: 200px;
}

html {
    user-select: none;
    width: 170px;
    background: #222;
    display: flex;
    flex-direction: column;
    color: #aaa;
    margin: unset;
}

body {
    font-size: 100% !important;
    font-family: 'Titillium Web';
    margin: unset;
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: #aaa;
    text-decoration: unset;
    font-size: 15px;
    background: #fff1;
}

.list:hover {
    background: #ffffff20;
}

.listLogo {
    height: 16px;
    margin-right: 10px;
}

#title {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.spacer {
    height: 4px;
}