@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");


:root {
    --bgUrl: url(https://voxiom.io/package/c30b27cd3f6c8d9bb236.jpg)
}



/*フォントの追加*/
*,
* *,
body,
html {
    font-family: "Zen Maru Gothic" !important;
}

/*右上の配信の奴とか消す*/
.hCYBep {
    display: none !important;
}

/* 設定のフォーカスした時の外枠非表示 */
#settingBox:focus,
#settingBox *:focus {
    outline: none;
}


label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 5px;
}

/*settingBoxのスタイル*/
#settingBox {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #252525;
    top: 0px;
    right: 1px;
    padding: 10px;
    width: 250px;
    height: 350px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 10px;
    border-radius: 100px;
    ;
}


/*vCheckBoxの右寄せ*/
#vCheckBox {
    margin-left: auto;
    margin-bottom: 5px;
}

/*クロスヘアの設定*/
#crosshair1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: var(--cc-image);
    image-rendering: pixelated
}

#crosshair2,
#crosshair3,
#crosshair4,
#crosshair5 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputText {
    height: 20px;
    background: #333;
    color: white;
    box-shadow: unset;
    border: unset;
    width: 180px;
    margin-left: 10px;
    border-bottom: 1px white solid;
}


div#heightHolder,
div#widthHolder {
    display: grid;
    grid-template-columns: 25px auto 60px;
}

p {
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* スライダーの見た目を変更 */
input[type="range"] {
    -webkit-appearance: none;
    height: 2px;
    margin-top: 10px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: rgb(0, 0, 0);
    border: 2px solid white;
    height: 12px;
    width: 12px;
    border-radius: 10px;
}

#widthVal,
#heightVal,
#colorDegVal {
    background: transparent;
    border: unset;
    border-bottom: 1px solid white;
    width: 45px;
    color: white;
    margin-left: 5px;
}

.hiddenClass {
    display: none !important;
}

.hiddenClassSetting {
    background: transparent !important;
    width: unset !important;
}

div#titleHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

h2#title {
    font-size: 15px;
}

div#crosshairSettingBox {
    display: flex;
    flex-direction: column;
}

div[id*="Holder"],
label#urlLabel,
input#defaultSizeButton {
    margin-bottom: 3px;
    margin-top: 3px;
}

input#vCheckBox {
    display: none;
}

#cBoxDeco {
    background: gray;
    height: 12px;
    width: 12px;
    position: fixed;
    right: 0px;
    top: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#vCheckBox:checked+#cBoxDeco:before {
    content: "";
    background: #202020;
    height: 8px;
    width: 8px;
}

.spacer {
    margin: 10px;
    height: 1px;
    background: white;
}

.fncTitle {
    font-size: 14px;
    padding: 2px;
    padding-left: 10px;
    margin-bottom: 4px;
    background: #fff1;

}

div#logoHolder,
#bgChangeHolder,
#cssHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input.defaultSizeButton {
    background: transparent;
    border: white solid 2px;
    border-radius: 0px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bNczYf {
    background-image: var(--bgUrl);
}

.inputArea {
    background: transparent;
    color: white;
    border: solid 1px white;
    resize: vertical;
    margin-left: auto;
    height: 70px;
    width: 230px;
    margin-right: auto;
}


#chHold1,
#chHold2,
#chHold3,
#chHold4,
#chHold5 {
    display: flex;
    flex-direction: column;
}

#crosshair3,
#crosshair2 {
    display: none;
}