body {
  background: var(--color-bg);
}

#sideBar {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  background-color: var(--color-sideBar);
  top: 0;
  bottom: 0;
  width: 250px;
}

#sideBarTitle {
  cursor: pointer;
  color: white;
  font-size: 20px;
  height: 30px;
  padding: 15px 0px 15px 20px;
  margin-top: 8px;
  box-shadow: 0 2px 2px #0005;
  margin-bottom: 20px
}

#sideBarTitle:hover {
  background-color: #fff2;
}

#sideBarMenu {
  color: white;
}

.sbMenuSelected {
  color: #fff;
}

.sbMenu {
  margin-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
  color: #999;
}

.sbMenu:hover {
  background: #fff2;
  cursor: pointer;
  color: #ccc;
}

div#mainContent {
  left: 250px;
  right: 0px;
  position: fixed;
  height: 100%;
}

div#mainContent iframe {
  height: 100%;
  width: 100%;
  margin: unset;
  padding: unset;
}

.selected {
  background: #fff2;
  color: #ccc;
  font-weight: 700;
}