/*font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-bg: #36393f;
    --color-sideBar: #2f3136;
    --color-link: #acff92;
    --embed-color: #fff;
    --user-color: cyan;
    --link-color-2: #d9e6ff;
    --link-bg-2: #538dffa4;
    --link-bg-2-hover: #2c72ffc5;
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
    margin-top: 5px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #0005;
    border-radius: 100px;
    ;
}

::-webkit-scrollbar-track {
    background-color: #0003;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 100px;
}

a {
    color: var(--color-link);
    text-decoration: unset;
}